<h1 class="text-center">Brand Building Ideas</h1>

<div class="panel callout radius text-center">
  <h2>Becoming the obvious growth solution for emerging tech hardware companies</h2>
</div>

<div class="panel text-center">
  <h3>All growth decisions should tie back to the one goal above</h3>
</div>
<hr>
<div class="panel">
  <h4>Ideas to become the ecommerce experts for early stage tech companies</h4>
  <h6>Showcase expertise by partnering with Kickstarter and Indiegogo (value add for their customers)</h6>
  <hr>
  <ul>
    <li><h6>Contribute growth specific content to their blogs. Possible topics:</h6>
      <ul>
        <li>Life after crowdfunding. What are successful companies doing</li>
        <li>Specific ecommerce related topics that start-ups need to consider</li>
        <li>How to keep the marketing momenting going after the crowdfunding campaing ends</li>
        <li>What to look for are partners and suppliers</li>
      </ul>
    </li>
    <li><h6>Talks/Workshops</h6>
      <ul>
        <li>Bring in Shoplocket customers to share their stories on how to build a succsseful tech hardware business</li>
        <li>Workshops on steps to building a successful ecommerce business, where investing time and money will provide the highest returns</li>
      </ul>
    </li>
  </ul>
</div>