<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th>Source</th>
      <th>Title</th>
      <th>Pledged</th>
      <th>Funded</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project[:source]%></td>
        <td><%= project[:title]%></td>
        <td><%= project[:pledged]%></td>
        <td><%= project[:funded]%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>