<h1>Top Crowdfunding Tech Projects</h1>

<table>
  <thead>
    <tr>
      <th>Source</th>
      <th>Title</th>
      <th>Pledged</th>
      <th>Project Link</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project[:source]%></td>
        <td><%= project[:title]%></td>
        <td><%= project[:pledged]%></td>
        <td><%= link_to 'Go To Project Page', project[:project_link]%></td>
      </tr>
    <% end %>
  </tbody>
</table>