<h1>Highest Funded Tech Projects</h1>

<%= render 'projects/projects' %>

<div class="flex-video">
  <iframe width="560" height="315" src="http://www.youtube.com/embed/njos57IJf-0" frameborder="0" allowfullscreen></iframe>
</div>