<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Crowdfunded Tech Projects', root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to 'Most Funded', most_funded_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'Most Popular', most_popular_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'A Good Joke', joke_path %></li>
    </ul>
  </section>
</nav>